<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%=title%></title>
  </head>
  <body>
    <h1><%=title%></h1>
    <!-- tampilkan data supplier dari conjunction dulu -->
    Name: <%= data_suppliers[0].name%><br>
    City : <%= data_suppliers[0].kota%> <br>
    Items: <br>
    <% if(data_suppliers[0].Items.length > 0) { %>
       <% data_suppliers[0].Items.forEach(item => { %>
        <%=item.name%>
      <% }) %>
    <% } else { %>
      No Item
    <% } %>
    <hr>

    <form class="" action="/suppliers/<%=data_suppliers[0].id%>/additem" method="post">
      <select class="" name="ItemId">
        <% if(data_items.length > 0){ %>
          <% data_items.forEach(item => { %>
              <option value="<%=item.id%>"><%=item.name%></option>
          <% }) %>
        <% } %>
      </select>
      <input type="number" name="price" value="" placeholder="price">
      <input type="submit" value="submit" >
    </form>

  </body>
</html>
